nav {
    display: flex;
    height:100px;
    background-color: khaki;


}

.link {
    font-size: 30px;
    height: 100px;
    width: 300px;
    line-height: 100px;
}

navbar{
    Text-align: center;
}